body {
  padding-top: 81px;  /* Move body of page below navbar. */
}

.navbar {
  
  margin-bottom: 0px;
  border: 0px;
  height: 81px;
  
}

.navbar {
  
  font-family: Lucida Grande, Lucida Sans,Verdana, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  
}

.navbar-inverse .navbar-nav>li>a {
  
  color: #E5EDDC;
  margin-top: 25px;
  margin-left: 25px;
  
}

.navbar-carbon {
  
  background: url('../images/bg-carbon.jpg');
  background-size: repeat;
  
}

.navbar-brand {
  
  padding: 0px;
  
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  
  background-color: transparent;
  
}

.nav {
  
  width: 900px;
  
}

.canoes {
  
  background: url('../images/pueo.jpg');
  background-size: cover;
  background-position: center;
  height: 385px;
  
}

.pueo {
  
  background: url('../images/pueo-page.jpg');
  background-size: cover;
  background-position: center;
  height: 385px;
  
}

.aukahi {
  
  background: url('../images/cover-aukahi.jpg');
  background-size: cover;
  background-position: center;
  height: 385px;
  
}

.v6 {
  
  background: url('../images/cover-v6.jpg');
  background-size: cover;
  background-position: center;
  height: 385px;
  
}

.about {
  
  background: url('../images/cover-about.jpg');
  background-size: cover;
  background-position: center;
  height: 385px;
  
}

.tagline {
  
  background-color: black; 
  padding: 10px;
  
}

.tagline h2 {
  
  color: #666;
  font-family: Georgia, Times;
  font-weight: 700;
  font-size: 3em;
  text-align: center;
  
}

.quote {
  
  background-color: black; 
  padding: 10px;
  color: #333333;
  font-family: Lucida Grande, Lucida Sans, Verdana, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  
}

.quote h3 {
  
  font-family: Georgia,'Times New Roman', Times;
  font-style: italic;
  font-weight: 300;
  font-size: 1.5em;
  color: #666;
  text-align: center;
  
}

.black-bar {
  
  background-color: #000;
  height: 131px;
  text-align: center;
}
  
}

